# Numbers

In [ ]:
i = 42 # 64-bit integer
f = 3.14 # 64-bit float
c = 3.4 + 4.5im # 128-bit complex number

bi = BigInt(2)^1000 # arbitrarily long integer
bf = BigFloat(1) / 7 # arbitrary precision

r = 15//6 * 9//20 # rational number

And the equivalent Python code:

```python
# PYTHON
i = 42
f = 3.14
c = 3.4 + 4.5j

bi = 2**1000 # integers are seemlessly promoted to long integers
from decimal import Decimal
bf = Decimal(1) / 7

from fractions import Fraction
r = Fraction(15, 6) * Fraction(9, 20)
```

Dividing integers gives floats, like in Python:

In [ ]:
5 / 2

For integer division, use `√∑` or `div()`:

In [ ]:
5 √∑ 2

In [ ]:
div(5, 2)

The `%` operator is the remainder, not the modulo like in Python. These differ only for negative numbers:

In [ ]:
57 % 10

In [ ]:
(-57) % 10

|Julia|Python
|-----|------
|`3.4 + 4.5im` | `3.4 + 4.5j`
|`BigInt(2)^1000` | `2**1000`
|`BigFloat(3.14)` | `from decimal import Decimal`<br />`Decimal(3.14)`
|`9//8` | `from fractions import Fraction`<br />`Fraction(9, 8)`
|`5/2 == 2.5` | `5/2 == 2.5`
|`5√∑2 == 2`<br />or<br />`div(5, 2)` | `5//2 == 2`
|`57%10 == 7` | `57%10 == 7`
|`(-57)%10 == -7` | `(-57)%10 == 3`

# Strings
Julia strings use double quotes `"` or triple quotes `"""`, but not single quotes `'`:

In [ ]:
s = "√•ngstr√∂m" # Julia strings are UTF-8 encoded by default
println(s)

In [ ]:
s = "Julia strings
     can span
     several lines\n\n
     and they support the \"usual\" escapes like
     \x41, \u5bb6, and \U0001f60a!"
println(s)

Use `repeat()` instead of `*` to repeat a string, and use `*` instead of `+` for concatenation:

In [ ]:
s = repeat("tick, ", 10) * "BOOM!"
println(s)

The equivalent Python code is:

```python
# PYTHON
s = "tick, " * 10 + "BOOM!"
print(s)
```

Use `join(a, s)` instead of `s.join(a)`:

In [ ]:
s = join([i for i in 1:4], ", ")
println(s)

You can also specify a string for the last join:

In [ ]:
s = join([i for i in 1:4], ", ", " and ")

`split()` works as you might expect:

In [ ]:
split("   one    three     four   ")

In [ ]:
split("one,,three,four!", ",")

In [ ]:
occursin("sip", "Mississippi")

In [ ]:
replace("I like coffee", "coffee" => "tea")

Triple quotes work a bit like in Python, but they also remove indentation and ignore the first line feed:

In [ ]:
s = """
       1. the first line feed is ignored if it immediately follows \"""
       2. triple quotes let you use "quotes" easily
       3. indentation is ignored
           - up to left-most character
           - ignoring the first line (the one with \""")
       4. the final line feed it nÃ≤oÃ≤tÃ≤ ignored
       """
println("<start>")
println(s)
println("<end>")

## String Interpolation
String interpolation uses `$variable` and `$(expression)`:

In [ ]:
total = 1 + 2 + 3
s = "1 + 2 + 3 = $total = $(1 + 2 + 3)"
println(s)

This means you must escape the `$` sign:

In [ ]:
s = "The car costs \$10,000"
println(s)

## Raw Strings
Raw strings use `raw"..."` instead of `r"..."`:

In [ ]:
s = raw"In a raw string, you only need to escape quotes \", but not
        $ or \. There is one exception, however: the backslash \
        must be escaped if it's just before quotes like \\\"."
println(s)

In [ ]:
s = raw"""
   Triple quoted raw strings are possible too: $, \, \t, "
     - They handle indentation and the first line feed like regular
       triple quoted strings.
     - You only need to escape triple quotes like \""", and the
       backslash before quotes like \\".
   """
println(s)

## Characters
Single quotes are used for individual Unicode characters:

In [ ]:
a = '√•' # Unicode code point (single quotes)

To be more precise:
* A Julia "character" represents a single Unicode code point (sometimes called a Unicode scalar).
* Multiple code points may be required to produce a single _grapheme_, i.e., something that readers would recognize as a single character. Such a sequence of code points is called a "Grapheme cluster".

For example, the character `√©` can be represented either using the single code point `\u00E9`, or the grapheme cluster `e` + `\u0301`:

In [ ]:
s = "caf√©"
println(s, " has ", length(s), " code points")

In [ ]:
s = "cafe\u0301"
println(s, " has ", length(s), " code points")

In [ ]:
for c in "cafe\u0301"
    display(c)
end

Julia represents any individual character like `'√©'` using 32-bits (4 bytes):

In [ ]:
sizeof('√©')

But strings are represented using the UTF-8 encoding. In this encoding, code points 0 to 127 are represented using one byte, but any code point above 127 is represented using 2 to 6 bytes:

In [ ]:
sizeof("a")

In [ ]:
sizeof("√©")

In [ ]:
sizeof("ÂÆ∂")

In [ ]:
sizeof("üè≥Ô∏è‚Äçüåà") # this is a grapheme with 4 code points of 4 + 3 + 3 + 4 bytes

In [ ]:
[sizeof(string(c)) for c in "üè≥Ô∏è‚Äçüåà"]

You can iterate through graphemes instead of code points:

In [ ]:
using Unicode

for g in graphemes("e\u0301üè≥Ô∏è‚Äçüåà")
  println(g)
end

## String Indexing
Characters in a string are indexed based on the position of their starting byte in the UTF-8 representation. For example, the character `√™` in the string `"√™tre"` is located at index 1, but the character `'t'` is located at index 3, since the UTF-8 encoding of `√™` is 2 bytes long:

In [ ]:
s = "√™tre"
println(s[1])
println(s[3])
println(s[4])
println(s[5])

If you try to get the character at index 2, you get an exception:

In [ ]:
try
    s[2]
catch ex
    ex
end

By the way, notice the exception-handling syntax (we'll discuss exceptions later):

|Julia|Python
|-----|------
|`try`<br />&nbsp;&nbsp;&nbsp;&nbsp;`...`<br />`catch ex`<br />&nbsp;&nbsp;&nbsp;&nbsp;`...`<br />`end`|`try`<br />&nbsp;&nbsp;&nbsp;&nbsp;`...`<br />`except Exception as ex`<br />&nbsp;&nbsp;&nbsp;&nbsp;`...`<br />`end`

You can get a substring easily, using valid character indices:

In [ ]:
s[1:3]

You can iterate through a string, and it will return all the code points:

In [ ]:
for c in s
    println(c)
end

Or you can iterate through the valid character indices:

In [ ]:
for i in eachindex(s)
    println(i, ": ", s[i])
end

Benefits of representing strings as UTF-8:
* All Unicode characters are supported.
* UTF-8 is fairly compact (at least for Latin scripts).
* It plays nicely with C libraries which expect ASCII characters only, since ASCII characters correspond to the Unicode code points 0 to 127, which UTF-8 encodes exactly like ASCII.

Drawbacks:
* UTF-8 uses a variable number of bytes per character, which makes indexing harder.
  * However, If the language tried to hide this by making `s[5]` search for the 5th character from the start of the string, then code like `for i in 1:length(s); s[i]; end` would be unexpectedly inefficient, since at each iteration there would be a search from the beginning of the string, leading to O(_n_<sup>2</sup>) performance instead of O(_n_).

In [ ]:
findfirst(isequal('t'), "√™tre")

In [ ]:
findlast(isequal('p'), "Mississippi")

In [ ]:
findnext(isequal('i'), "Mississippi", 2)

In [ ]:
findnext(isequal('i'), "Mississippi", 2 + 1)

In [ ]:
findprev(isequal('i'), "Mississippi", 5 - 1)

Other useful string functions: `ncodeunits(str)`, `codeunit(str, i)`, `thisind(str, i)`, `nextind(str, i, n=1)`, `prevind(str, i, n=1)`.

## Regular Expressions
To create a regular expression in Julia, use the `r"..."` syntax:

In [ ]:
regex = r"c[ao]ff?(?:√©|ee)"

The expression `r"..."` is equivalent to `Regex("...")` except the former is evaluated at parse time, while the latter is evaluated at runtime, so unless you need to construct a Regex dynamically, you should prefer `r"..."`.

In [ ]:
occursin(regex, "A bit more coffee?")

In [ ]:
m = match(regex, "A bit more coffee?")
m.match

In [ ]:
m.offset

In [ ]:
m = match(regex, "A bit more tea?")
isnothing(m) && println("I suggest coffee instead")

In [ ]:
regex = r"(.*)#(.+)"
line = "f(1) # nice comment"
m = match(regex, line)
code, comment = m.captures
println("code: ", repr(code))
println("comment: ", repr(comment))

In [ ]:
m[2]

In [ ]:
m.offsets

In [ ]:
m = match(r"(?<code>.+)#(?<comment>.+)", line)
m[:comment]

In [ ]:
replace("Want more bread?", r"(?<verb>more|some)" => s"a little")

In [ ]:
replace("Want more bread?", r"(?<verb>more|less)" => s"\g<verb> and \g<verb>")

# Control Flow

## `if` statement

Julia's `if` statement works just like in Python, with a few differences:

* Julia uses `elseif` instead of Python's `elif`.
* Julia's logic operators are just like in C-like languages: `&&` means `and`, `||` means `or`, `!` means `not`, and so on.

In [ ]:
a = 1
if a == 1
    println("One")
elseif a == 2
    println("Two")
else
    println("Other")
end

Julia also has `‚äª` for exclusive or (you can type `\xor<tab>` to get the ‚äª character):

In [ ]:
@assert false ‚äª false == false
@assert false ‚äª true == true
@assert true ‚äª false == true
@assert true ‚äª true == false

Oh, and notice that `true` and `false` are all lowercase, unlike Python's `True` and `False`.

Since `&&` is lazy (like `and` in Python), `cond && f()` is a common shorthand for `if cond; f(); end`. Think of it as "_cond then f()_":

In [ ]:
a = 2
a == 1 && println("One")
a == 2 && println("Two")

Similarly, `cond || f()` is a common shorthand for `if !cond; f(); end`. Think of it as "_cond else f()_":

In [ ]:
a = 1
a == 1 || println("Not one")
a == 2 || println("Not two")

All expressions return a value in Julia, including `if` statements. For example:

In [ ]:
a = 1
result = if a == 1
             "one"
         else
             "two"
         end
result

When an expression cannot return anything, it returns `nothing`:

In [ ]:
a = 1
result = if a == 2
            "two"
          end

isnothing(result)

`nothing` is the single instance of the type `Nothing`:

In [ ]:
typeof(nothing)

## `for` loops
You can use `for` loops just like in Python, as we saw earlier. However, it's also possible to create nested loops on a single line:

In [ ]:
for a in 1:2, b in 1:3, c in 1:2
    println((a, b, c))
end

The corresponding Python code would look like this:

```python
# PYTHON
from itertools import product

for a, b, c in product(range(1, 3), range(1, 4), range(1, 3)):
    print((a, b, c))
```

The `continue` and `break` keywords work just like in Python. Note that in single-line nested loops, `break` will exit all loops, not just the inner loop:

In [ ]:
for a in 1:2, b in 1:3, c in 1:2
    println((a, b, c))
    (a, b, c) == (2, 1, 1) && break
end

Julia does not support the equivalent of Python's `for`/`else` construct. You need to write something like this:

In [ ]:
found = false
for person in ["Joe", "Jane", "Wally", "Jack", "Julia"] # try removing "Wally"
    println("Looking at $person")
    person == "Wally" && (found = true; break)
end
found || println("I did not find Wally.")

The equivalent Python code looks like this:

```python
# PYTHON
for person in ["Joe", "Jane", "Wally", "Jack", "Julia"]: # try removing "Wally"
    print(f"Looking at {person}")
    if person == "Wally":
        break
else:
    print("I did not find Wally.")
```



|Julia|Python
|-----|------
|`if cond1`<br />&nbsp;&nbsp;&nbsp;&nbsp;`...`<br/>`elseif cond2`<br />&nbsp;&nbsp;&nbsp;&nbsp;`...`<br/>`else`<br />&nbsp;&nbsp;&nbsp;&nbsp;`...`<br/>`end` |`if cond1:`<br />&nbsp;&nbsp;&nbsp;&nbsp;`...`<br/>`elif cond2:`<br />&nbsp;&nbsp;&nbsp;&nbsp;`...`<br/>`else:`<br />&nbsp;&nbsp;&nbsp;&nbsp;`...`
|`&&` | `and`
|`\|\|` | `or`
|`!` | `not`
|`‚äª` (type `\xor<tab>`) | `^`
|`true` | `True`
|`false` | `False`
|`cond && f()` | `if cond: f()`
|`cond \|\| f()` | `if not cond: f()`
|`for i in 1:5 ... end` | `for i in range(1, 6): ...`
|`for i in 1:5, j in 1:6 ... end` | `from itertools import product`<br />`for i, j in product(range(1, 6), range(1, 7)):`<br />&nbsp;&nbsp;&nbsp;&nbsp;`...`
|`while cond ... end` | `while cond: ...`
|`continue` | `continue`
|`break` | `break`

Now lets looks at data structures, starting with tuples.